<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjkj.ks_user.mapper.IndexPushMapper">

    <select id="gain" resultType="indexPush">
	select * from t_mp_indexpush t where appId=#{appId} order by id desc limit 0,1;
	</select>



</mapper>