<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjkj.ks_user.mapper.MerChantsMapper">
	
	<select id="gain" resultType="int">
	select count(*) from t_mp_merchants where oneMerId=#{merChantId} and merStat=#{merStat} 
	</select>
	
	<select id="selectCode" resultType="int">
	select count(*) from t_mp_merchants where oneMerId=#{merChantId} 
	</select>
	
	<select id="get" resultType="int">
	select count(*) from t_mp_merchants where twoMerId=#{merChantId} 
	</select>
	
	<select id="receive" resultType="MerChant">
	select * from t_mp_merchants where merChantId=#{merChantId}
	</select>
	
	<select id="gainList" resultType="MerChants">
		SELECT t.id,t.merChantId,t.merName,t.merMp,t.certNo,t.merStat,t.identifying,t.merChantFee,t.generationFee,t.generationFeeRepayment,t.status,t.agentStatus,t.agentId,
		t.institutionId,t.merType,t.oneMerId,t.twoMerId,t.frozen,t.appId,t.threeMerId,t.regDate,t.merStatTime,t.statusDate,t.startDate,t.finishDate,t.appId,t.appName,t.remarks
		FROM t_mp_merchants t 
		<where>
			1=1
			<if test="merChantId != '' and merChantId != null">
				AND t.merChantId = #{merChantId}
			</if>
			<if test="merName != '' and merName != null">
				AND t.merName=#{merName}
			</if>
			<if test="merMp != '' and merMp != null">
				AND t.merMp=#{merMp}
			</if>
			<if test="certNo != '' and certNo != null">
				AND t.certNo=#{certNo}
			</if>
			<if test="merStat != '' and merStat != null">
				AND t.merStat=#{merStat}
			</if>
			<if test="status != '' and status != null">
				AND t.status=#{status}
			</if>
			<if test="agentId != '' and agentId != null">
				AND t.agentId=#{agentId}
			</if>
			<if test="institutionId != '' and institutionId != null">
				AND t.institutionId=#{institutionId}
			</if>
			<if test="frozen != '' and frozen != null">
				AND t.frozen=#{frozen}
			</if>
			<if test="appId != '' and appId != null">
				AND t.appId=#{appId}
			</if>
			<if test="oneMerId != '' and oneMerId != null">
				AND t.oneMerId=#{oneMerId}
			</if>
			<if test="twoMerId != '' and twoMerId != null">
				AND t.twoMerId=#{twoMerId}
			</if>
			<if test="threeMerId != '' and threeMerId != null">
				AND t.threeMerId=#{threeMerId}
			</if>
		</where>
	</select>
</mapper>